@import "tailwindcss";

@theme {
  --color-brand-primary: #006a45;
  --color-brand-secondary: #056c47;
  --color-brand-surface: #f5f2ea;
  --color-brand-on-surface: #1b1c1c;
  --color-brand-outline: #bec9c0;

  --color-brand-accent: #4285f4;
  --color-brand-error: #ff385c;
  --color-brand-android: #3ddc84;
  --color-brand-map-bg: #fcf9f8;

  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

html,
body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100dvh;
}

body {
  @apply bg-brand-surface text-brand-on-surface;
  margin: 0;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
}

/* Marker Cluster Custom Styling */
.marker-cluster-small {
  background-color: rgba(245, 158, 11, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(245, 158, 11, 0.9);
}

.marker-cluster-medium {
  background-color: rgba(109, 40, 217, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(109, 40, 217, 0.9);
}

.marker-cluster-large {
  background-color: rgba(244, 63, 94, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(244, 63, 94, 0.9);
}

.marker-cluster div {
  @apply text-white font-bold;
}
